<a href="https://colab.research.google.com/github/Syleshkumar1996/New-york-citi-bike-sales-prediction/blob/main/Data_collection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import  requests
from google.colab import files

In [ ]:
url='https://archive-api.open-meteo.com/v1/era5?latitude=40.71&longitude=-74.01&start_date=2014-01-01&end_date=2014-12-31&hourly=temperature_2m,relativehumidity_2m,dewpoint_2m,precipitation,rain,snowfall,windspeed_10m,windgusts_10m&timezone=America%2FNew_York'
r=requests.get(url)
r.status_code

200

In [ ]:
r.json().keys()

dict_keys(['latitude', 'longitude', 'generationtime_ms', 'utc_offset_seconds', 'timezone', 'timezone_abbreviation', 'elevation', 'hourly_units', 'hourly'])

In [ ]:
weather_data=pd.DataFrame.from_dict(r.json()['hourly'])
weather_data

,time,temperature_2m,relativehumidity_2m,dewpoint_2m,precipitation,rain,snowfall,windspeed_10m,windgusts_10m
0,2014-01-01T00:00,-4.0,43,-14.8,0.0,0.0,0.0,14.1,29.5
1,2014-01-01T01:00,-4.4,45,-14.5,0.0,0.0,0.0,11.9,27.7
2,2014-01-01T02:00,-4.6,46,-14.5,0.0,0.0,0.0,10.8,24.8
3,2014-01-01T03:00,-4.7,46,-14.5,0.0,0.0,0.0,10.9,22.7
4,2014-01-01T04:00,-4.9,47,-14.5,0.0,0.0,0.0,10.5,22.7
...,...,...,...,...,...,...,...,...,...
8755,2014-12-31T19:00,-3.4,51,-12.2,0.0,0.0,0.0,9.2,25.2
8756,2014-12-31T20:00,-3.7,52,-12.1,0.0,0.0,0.0,10.2,25.9
8757,2014-12-31T21:00,-3.7,52,-12.1,0.0,0.0,0.0,10.7,26.3
8758,2014-12-31T22:00,-3.7,51,-12.3,0.0,0.0,0.0,11.3,27.4
8759,2014-12-31T23:00,-3.7,50,-12.7,0.0,0.0,0.0,13.0,28.1

In [ ]:
weather_data.to_excel('weather_data.xlsx')
files.download('weather_data.xlsx')